.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7b7b7b;
      font-weight: bold;

      width: 40px;
      height: 40px;
      border: 1px solid #7b7b7b;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      transition-property: color, background-color, border-color, box-shadow, transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;

      &:hover {
        border-color: #fe5f1e;
        background-color: #fe5f1e;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        transform: translateY(-3px);
      }
    }
  }

  :global {
    .selected {
      a {
        border-color: #fe5f1e;
        background-color: #fe5f1e;
        color: #fff;

        &:hover {
          transform: none;
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .previous,
    .next {
      font-size: 18px;
    }
  }
}

