@import '../variables';

.categories {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    @include noselect();
    padding: 13px 30px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    @media (max-width: 650px) {
      padding: 10px 24px;
    }

    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
